<div class="headers">
		<h1>{{header}}</h1>
	</div>	<!-- end contentheader	-->	 					
	<div>
		<ul id='nav' class="list-inline">
			<li ng-repeat="item in menuList | orderBy:'text'"><a ng-href="{{item.ref}}">{{item.text}}</a></li>
		</ul>
		<div class="content">
			<table>
				<tr ng-repeat = "chaptergroup in chapterList">
					<td ng-repeat="chapter in chaptergroup"> 
						<h1><a ng-href="{{chapter.ref}}">{{chapter.text}}</a></h1>
					</td>
				</tr> 
			</table>
		</div>
	</div>	<!-- end content	-->
